<div class="bs-docs-featurette">
  <div class="container">

<h2 class="bs-docs-featurette-title">Community</h2>
<p class="lead">Come here if you have a issue, want help or talk about we.js!</p>

<hr class="half-rule">

<div class="row">
  <div class="col-sm-4">
    <a href="https://github.com/wejs/we" target="_blank">
      <img height="128px" alt="github" src="/public/project/images/github-128-128.png">
    </a>
    <h3>
      <a href="https://github.com/wejs/we" target="_blank">Github</a>
    </h3>
    <p>Open source code and issues.</p>
  </div>
  <div class="col-sm-4">
    <a href="https://gitter.im/wejs/we?utm_source=share-link&utm_medium=link&utm_campaign=share-link" target="_blank">
      <img alt="gitter" src="/public/project/images/gitter-128-128.png">
    </a>
    <h3>
      <a href="https://gitter.im/wejs/we?utm_source=share-link&utm_medium=link&utm_campaign=share-link" target="_blank">Gitter</a>
    </h3>
    <p>Real time chat</p>
  </div>
  <div class="col-sm-4">
    <a href="https://groups.google.com/forum/#!forum/we-js" target="_blank">
      <img alt="Google groups" src="/public/project/images/google_groups-128-128.png">
    </a>
    <h3><a href="https://groups.google.com/forum/#!forum/we-js" target="_blank">Google Groups</a></h3>
    <p>Our email group and newsletter</p>
  </div>
</div>

  </div>
</div>