<main class="bs-docs-masthead" role="main">
  <div>
    <h1>We.js</h1>
    <br><br>
    <p class="lead">Node.js framework for real time applications, sites or blogs!</p>
    <p class="lead">
      {{#link-to 'wejsdoc.findOnePage' 'we' 'getstarted' class="ember-view btn btn-outline-inverse btn-lg"}}
        Install We.js
      {{/link-to}}
    </p>
  </div>

  <div class="bs-docs-social">
    <br>
    <div class="bs-docs-social-buttons">
      <span>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=wejs&amp;repo=we&amp;type=watch&amp;count=true" width="100" height="20" title="Star on GitHub"></iframe>
      </span>
      <span>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=wejs&amp;repo=we&amp;type=fork&amp;count=true" width="102" height="20" title="Fork on GitHub"></iframe>
      </span>
      <span class="follow-btn">
        <iframe id="twitter-widget-1" scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/follow_button.a5bbbb7216610af1306d56b0f28a67d7.en.html#_=1424192283453&amp;dnt=false&amp;id=twitter-widget-1&amp;lang=en&amp;screen_name=we_js&amp;show_count=true&amp;show_screen_name=true&amp;size=m" class="twitter-follow-button twitter-follow-button" title="Twitter Follow Button" data-twttr-rendered="true" style="width: 240px; height: 20px;"></iframe>
      </span>
    </ul>
  </div>
</main>