<span id="fb-root"></span>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<main class="bs-docs-masthead" role="main">
  <div>
    <h1>We.js</h1>
    <br><br>
    <p class="lead">Node.js framework for real time applications, sites or blogs!</p>
    <p class="lead">
      {{#link-to 'wejsdoc.findOnePage' 'we' 'getstarted' class="ember-view btn btn-outline-inverse btn-lg"}}
        Install We.js
      {{/link-to}}
    </p>
  </div>

  <div class="bs-docs-social">
    <br>
    <div class="bs-docs-social-buttons">
      <span>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=wejs&amp;repo=we&amp;type=watch&amp;count=true" width="100" height="20" title="Star on GitHub"></iframe>
      </span>
      <span>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <g:plusone size="medium"></g:plusone>
      </span>
      <span class="fb-like" data-width="45px" data-layout="button_count" ></span>
      <span class="follow-btn">
        <iframe id="twitter-widget-1" scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/follow_button.a5bbbb7216610af1306d56b0f28a67d7.en.html#_=1424192283453&amp;dnt=false&amp;id=twitter-widget-1&amp;lang=en&amp;screen_name=we_js&amp;show_count=true&amp;show_screen_name=true&amp;size=m" class="twitter-follow-button twitter-follow-button" title="Twitter Follow Button" data-twttr-rendered="true" style="width: 240px; height: 20px;"></iframe>
      </span>
    </ul>
  </div>
</main>