<div class="bs-docs-featurette">
  <div class="container">
    <h2 class="bs-docs-featurette-title">Generate your app or full featured project.</h2>
    <p class="lead">We.js core has many built-in features and you can install or create plugins and themes to extend your project.</p>

    <hr class="half-rule">

    <div class="row">
      <div class="col-sm-4">
        <a href="https://github.com/wejs?query=plugin" target="_blank">
          <img alt="Generators" src="/public/theme/we-theme-site-wejs/images/plugins.png">
        </a>
        <h3>Plugins</h3>
        <p>Extend your project with community or custom plugins.</p>
      </div>
      <div class="col-sm-4">
        <a href="https://github.com/wejs?query=theme" target="_blank">
          <img src="/public/theme/we-theme-site-wejs/images/themes.png">
        </a>
        <h3>Themes</h3>
        <p>Be free to create beautiful themes for your own projects. Themes have the power to extend default plugin templates</p>
      </div>

      <div class="col-sm-4">
        <a href="https://github.com/wejs/generator-wejs" target="_blank">
          <img alt="Generators" src="/public/theme/we-theme-site-wejs/images/generators.png">
        </a>
        <h3>Generators</h3>
        <p>Generate one functional project structure in seconds with <a alt="We.js plugins" href="https://github.com/wejs/generator-wejs">we.js generator</a>.</p>
      </div>
    </div>
  </div>
</div>