<div class="bs-docs-featurette">
  <div class="container">
    <h2 id="features">Features</h2>
    <div class="row">
      <div class="col-sm-3">
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation">
            <a href="/plugins">Plugins</a>
          </li>
          <li role="presentation">
            <a href="/themes">Themes</a>
          </li>
          <li role="presentation">
            <a href="https://www.npmjs.com/">NPM modules</a>
          </li>
          <li role="presentation">
            <a href="http://docs.sequelizejs.com/en/latest">ORM (Sequelize)</a>
          </li>
          <li role="presentation">
            <a href="/docs/we/features.internationalization">I18n (nodei18n)</a>
          </li>
          <li role="presentation">
            <a href="https://github.com/wejs/we-plugin-socketio">Socket.io</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation">
            <a href="/docs/we/features.hooks-events">Hooks and events</a>
          </li>
          <li role="presentation">
            <a href="/docs/we/features.acl">Access Control List (ACL)</a>
          </li>

          <li role="presentation">
            <a href="https://github.com/wejs/generator-wejs/blob/master/blog/templates/gulpfile.js">Default gulp tasks</a>
          </li>
          <li role="presentation">
            <a href="#">Email system</a>
          </li>
          <li role="presentation">
            <a href="https://github.com/wejs/generator-wejs">Yeoman generator</a>
          </li>
          <li role="presentation">
            <a href="#">Template helpers</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation">
            <a href="#">Models</a>
          </li>
          <li role="presentation">
            <a href="/docs/we/features.controllers">Controllers</a>
          </li>
          <li role="presentation">
            <a href="#">Templates</a>
          </li>
          <li role="presentation">
            <a href="/docs/we/features.routes">Route Resources</a>
          </li>
          <li role="presentation">
            <a href="/docs/we/features.customresponse">Custom responses</a>
          </li>
          <li role="presentation">
            <a href="/docs/we/features.configuration">Configurations</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation">
            <a href="#">User login and register</a>
          </li>
          <li role="presentation">
            <a href="#">Regions and widgets</a>
          </li>
          <li role="presentation">
            <a href="/docs/we/features.admin">Administrative Interface</a>
          </li>
          <li role="presentation">
            <a href="/docs/we/features.logging">Logs with winston</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>