<div class="bs-docs-featurette">
  <div class="container">
    <h2 id="features">Features</h2>
    <br>
    <div class="row">
      <div class="col-sm-3">
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation">
            Plug and play, modules
          </li>
          <li role="presentation">
            Theme modules
          </li>
          <li role="presentation">
            Code with Javascript!
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation">
            Object-relational mapping (ORM)
          </li>
          <li role="presentation">
            Access Control List (ACL)
          </li>
          <li role="presentation">
            Simpler structure
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation">
            Extensive response formats
          </li>
          <li role="presentation">
            Administrative interface
          </li>
          <li role="presentation">
            Layout, regions and Widgets
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation">
            Compatible with NPM modules
          </li>
          <li role="presentation">
            Compatible with Express.js middleware
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>