module.exports = {
  appName: 'We blog',
  passport: {
    cookieDomain : null
  },

  acl: {
    disabled: true
  },

  database: {
    prod: {
      dialect: 'mysql',
      database: 'test',
      username: 'root',
      password: ''
    },
    dev: {
      dialect: 'mysql',
      database: 'test',
      username: 'root',
      password: ''
    }
  },
  github: {
    version: '3.0.0', // API version
    debug: true, // console.log,
    authentication: { //via token (Personal access token)
      type: 'token',
      token: 'yourtoken'
    },
    expireDate: (60 * 60 * 60), // an hour
    orgName: 'wejs' //organization name
  }
}
