<div class="bs-docs-featurette">
  <div class="container">
    <h2 id="features">Example plugins</h2>
    <hr class="half-rule">
    <div class="row">
      <div class="col-sm-3">
        <a href="https://github.com/wejs/we-plugin-disqus">
        <span class="glyphicon glyphicon glyphicon-comment bs-docs-booticon-lg bs-docs-booticon-outline"></span>
        <h3>Disqus</h3></a>
        <p>A simple way to add Disqus comments to your site.</p>
      </div>
      <div class="col-sm-3">
        <a href="https://github.com/wejs/we-plugin-file">
        <span class="glyphicon glyphicon-picture bs-docs-booticon-lg bs-docs-booticon-outline"></span>
        <h3>Image</h3></a>
        <p>Upload, resize and load images in multiple styles.</p>
      </div>
      <div class="col-sm-3">
        <a href="https://github.com/wejs/we-plugin-article">
        <span class="glyphicon glyphicon-list-alt bs-docs-booticon-lg bs-docs-booticon-outline"></span>
        <h3>Article</h3></a>
        <p>Write html texts with suport to tags, categories and images.</p>
      </div>
      <div class="col-sm-3">
        <a href="https://github.com/wejs/we-plugin-vocabulary"><span class="glyphicon glyphicon-tag bs-docs-booticon-lg bs-docs-booticon-outline"></span>
        <h3>Terms and Tags</h3></a>
        <p>Configurable term field for any model with suport to vocabulary.</p>
      </div>
    </div>
    <hr class="half-rule">

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h2>Real time features like we.js chat box:</h2>
        <br><br>
        {{we-messenger-room roomId=1 heigth=300 iframeHeigth=400 width='100%'}}
      </div>
    </div>

    <hr class="half-rule">

    <p class="lead">We.js and related modules is open source. It's hosted, developed, and maintained on GitHub.</p>
    <a href="https://github.com/wejs/we" class="btn btn-outline btn-lg">View the GitHub project</a>

  </div>
</div>