{{!-- required for google buttons --}}
<script src="https://apis.google.com/js/platform.js"></script>

<div class="text-center jumbotron jumbotron-inverted">
  <div>
    <h1 class="sr-only">We.js</h1>
    <img src="/public/plugin/we-core/files/images/logo.png" alt="We.js logo, WE text writen in gren color inside 2 green circles">
    <br><br>
    <p>Extensible server side Javascript MVC framework</p>
    <p class="lead">
      <a href="https://wejs.org/docs/we/getstarted.installation" class="btn btn btn-primary btn-lg">
        Install
      </a>
    </p>
  </div>

  <div class="bs-docs-social">
    <br>
    <div class="bs-docs-social-buttons text-center">
      <span>
        <iframe  scrolling="no" frameborder="0" class="github-btn" src="https://ghbtns.com/github-btn.html?user=wejs&amp;repo=we&amp;type=watch&amp;count=true" width="100" height="20" title="Star on GitHub"></iframe>
      </span>
      <span>
        <g:plusone size="medium"></g:plusone>
      </span>
      <span class="follow-btn">
        <iframe id="twitter-widget-1" scrolling="no" frameborder="0" allowtransparency="true" src="https://platform.twitter.com/widgets/follow_button.a5bbbb7216610af1306d56b0f28a67d7.en.html#_=1424192283453&amp;dnt=false&amp;id=twitter-widget-1&amp;lang=en&amp;screen_name=we_js&amp;show_count=true&amp;show_screen_name=true&amp;size=m" class="twitter-follow-button twitter-follow-button" title="Twitter Follow Button" data-twttr-rendered="true" style="width: 190px; height: 20px;"></iframe>
      </span>

      <br>
      <span>
        <div class="g-ytsubscribe" data-channelid="UCUQJUECTogG6snEDNyk-bQw" data-layout="default" data-count="hidden"></div>
      </spam>
    </div>
  </div>
</div>

<div class="bs-docs-featurette text-center">
  <div class="container">
    <h2 class="text-center">MVC, Modularity and productivity is your main focus.</h2>
    <p class="lead text-center">We.js is build with some of most reliable tools in NPM and structured with sucessfull patterns.<br>
    Create amazing applications with little effort and save your money for the right things.<br>
    Split your project features in plugins and reuse in new projects.
    </p>

    <hr class="half-rule">

    <div class="row">
      <div class="col-sm-4">
        <a href="https://github.com/wejs?query=plugin" target="_blank">
          <img alt="One image of an plug for represent we.js plugins feature" src="/public/project/images/plugins.png">
        </a>
        <h3>Plugins</h3>
        <p>Extend your project with community or custom plugins.<br>
        Plug and play
        </p>
      </div>
      <div class="col-sm-4">
        <a href="https://github.com/wejs/generator-wejs" target="_blank">
          <img alt="One image of project structures representing the we.js generetors" src="/public/project/images/generators.png">
        </a>
        <h3>Generators</h3>
        <p>Generate one functional project structure in seconds with <a text="We.js plugins" href="https://github.com/wejs/generator-wejs">we.js generator</a>. Suport to generate resources and Swagger docs</p>
      </div>
      <div class="col-sm-4">
        <a href="https://github.com/wejs?query=theme" target="_blank">
          <img alt="One colored image representing the we.js theme feature" src="/public/project/images/themes.png">
        </a>
        <h3>Themes</h3>
        <p>Be free to create beautiful themes for your own projects. Themes have the power to extend default plugin templates and is avaible in we-plugin-view</p>
      </div>
    </div>
  </div>
</div>

<div class="donate text-center jumbotron jumbotron-inverted">
  <a class="btn btn-lg btn-warning" href="/suport">
  <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
    Donate and suport</a><br>
  <small>Help us maintain and develop.</small>
</div>

<div class="bs-docs-featurette text-center">
  <div class="container">
    <h2 id="powerfull-cli" class="text-center">Interoperability</h2>
    <p class="lead text-center">Create APIs how work with other products or systems, present or future, in either implementation or access, without any restrictions</p>

    <div class="row">
      <div class="col-sm-6">
        <a href="http://jsonapi.org" target="_blank">
          <img class="img-thumbnail" width="300px" alt="JSONAPI logo" src="/public/project/images/jsonapi_logo.png" style="margin-top:38px; margin-bottom:38px;">
        </a>
        <h3>JSONAPI</h3>
        <a href="http://jsonapi.org">http://jsonapi.org</a>
        <p>Build in JSONAPI response format, compatible with your favorite client side framework. Angular.js, Ember.js, Vue.js, React ... only request and use.</p>
      </div>
      <div class="col-sm-6">
        <a href="http://swagger.io" target="_blank">
          <img class="img-thumbnail" width="300px" alt="Swagger logo" src="/public/project/images/swagger_logo.png">
        </a>
        <h3>Swagger</h3>
        <a href="http://swagger.io">http://swagger.io</a>
        <p>Simple awesome documentation strategy and We.js have one generator for build docs from project configurations.</p>
      </div>
    </div>
    <br>
    <p>You want more? send one request in <a href="https://github.com/wejs/we/issues/new">https://github.com/wejs/we/issues/new</a></p>

  </div>
</div>

<div class="bs-docs-featurette text-center">
  <div class="container">

    <h2 id="powerfull-cli" class="text-center">Powerfull CLI</h2>
    <p class="lead text-center">Great set of usefull commands</p>

    <img class="thumbnail img-responsive" style="margin: 1px auto" alt="Text with We.js commands" src="https://res.cloudinary.com/we-js/image/upload/v1466635055/wejs_cli_hukkav.jpg">

    <hr class="half-rule">
    <br>

    <h4>Build APIs with <a href="http://swagger.io/">Swagger</a> docs in secconds:</h4>
    <iframe style="max-width: 560px; width: 100%;" height="315" src="https://www.youtube.com/embed/8lLihLAy-mw" frameborder="0" allowfullscreen></iframe>

    <hr class="half-rule">

    <h2 id="pre-build-projects" class="text-center">Build and share plugins and projects</h2>
    <p class="lead text-center">Examples avaible in we.js generator (generator-wejs module).</p>

    <div class="row">
      <div class="col-sm-6">
        <a href="https://events.wejs.org" target="_blank">
          <img class="img-thumbnail" alt="Blog project" src="/public/project/images/project-event.jpg">
        </a>
        <h3>Conference portal</h3>
        <div>
          <iframe scrolling="no" frameborder="0" class="github-btn" src="https://ghbtns.com/github-btn.html?user=wejs&amp;repo=we-plugin-event&amp;type=watch&amp;count=true" width="100" height="20" title="Star on GitHub"></iframe>
        </div>
        <p>Host multiple events in one installation and every event have its own content and administrative interface <br>
        Link: <a text="We.js events" href="https://events.wejs.org">https://events.wejs.org</a>.</p>
        Plugin: <strong>we-plugin-event</strong>
      </div>
      <div class="col-sm-6">
        <a href="https://github.com/wejs/generator-wejs" target="_blank">
          <img class="img-thumbnail" alt="Blog image" src="/public/project/images/project-blog.jpg">
        </a>
        <h3>Blog</h3>

        <div>
          <iframe scrolling="no" frameborder="0" class="github-btn" src="https://ghbtns.com/github-btn.html?user=wejs&amp;repo=we-plugin-article&amp;type=watch&amp;count=true" width="100" height="20" title="Star on GitHub"></iframe>
        </div>

        <p>Be free to create beautiful themes for your own projects. Themes have the power to extend default plugin templates <br>
        Link: <a text="We.js blog" href="https://wejs.org/article">https://wejs.org/article</a>.</p>
        Plugin: <strong>we-plugin-article</strong>
      </div>
    </div>

  </div>
</div>

<div class="bs-docs-featurette text-center text-black">
  <div class="container">
    <h2 id="features">Features</h2>
    <br>
    <div class="row">
      <div class="col-sm-3">
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation">
            Plug and play, modules
          </li>
          <li role="presentation">
            Theme modules
          </li>
          <li role="presentation">
            Code with Javascript!
          </li>
          <li role="presentation">
            Suport to Linux, Mac and Windows
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation">
            Object-relational mapping (ORM)
          </li>
          <li role="presentation">
            Access Control List (ACL)
          </li>
          <li role="presentation">
            Simpler structure
          </li>
          <li role="presentation">
            Generate forms from JSON or models
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation">
            Extensive response formats
          </li>
          <li role="presentation">
            Administrative interface
          </li>
          <li role="presentation">
            Layout, regions and Widgets
          </li>
          <li role="presentation">
            Url alias
          </li>
          <li role="presentation">
            Generate Swagger documentations
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation">
            Compatible with NPM modules
          </li>
          <li role="presentation">
            Compatible with Express.js middleware
          </li>
          <li role="presentation">
            Project distributions
          </li>
        </ul>
      </div>
      <div class="col-sm-12">
        <br>
        Pre build projects for make <strong>blogs</strong>, <strong>sites</strong>, <strong>conference portal</strong> or <strong>APIs</strong> ready for use.
      </div>
    </div>
  </div>
</div>

<div class="bs-docs-featurette text-center">
  <div class="container">
    <h2 id="features">Example plugins</h2>
    <hr class="half-rule">
    <div class="row">
      <div class="col-sm-3">
        <a href="https://github.com/wejs/we-plugin-disqus">
        <span class="glyphicon glyphicon glyphicon-comment bs-docs-booticon-lg bs-docs-booticon-outline"></span>
        <h3>Disqus</h3></a>
        <p>A simple way to add Disqus comments to your site.</p>
      </div>
      <div class="col-sm-3">
        <a href="https://github.com/wejs/we-plugin-file">
        <span class="glyphicon glyphicon-picture bs-docs-booticon-lg bs-docs-booticon-outline"></span>
        <h3>Image</h3></a>
        <p>Upload, resize and load images in multiple styles.</p>
      </div>
      <div class="col-sm-3">
        <a href="https://github.com/wejs/we-plugin-article">
        <span class="glyphicon glyphicon-list-alt bs-docs-booticon-lg bs-docs-booticon-outline"></span>
        <h3>Article</h3></a>
        <p>Write html texts with suport to tags, categories and images.</p>
      </div>
      <div class="col-sm-3">
        <a href="https://github.com/wejs/we-plugin-vocabulary"><span class="glyphicon glyphicon-tag bs-docs-booticon-lg bs-docs-booticon-outline"></span>
        <h3>Terms and Tags</h3></a>
        <p>Configurable term field for any model with suport to vocabulary.</p>
      </div>
    </div>
    <br><br>

    <p class="lead">We.js and related modules is open source. It's hosted, developed, and maintained on GitHub.</p>
    <a href="https://github.com/wejs/we" class="btn btn-success btn-lg">View the code in GitHub</a>

  </div>
</div>


<div class="bs-docs-featurette  text-center">
  <div class="container">

<h2 class="bs-docs-featurette-title">Suport and community</h2>
<p class="lead">Come here if you have a issue, want help or talk about we.js:</p>

<hr class="half-rule">

<div class="row">
  <div class="col-sm-4">
    <a href="https://github.com/wejs/we" target="_blank">
      <img height="128px" alt="Github logo, image of one friendly cat with 6 legs" src="/public/project/images/github-128-128.png">
    </a>
    <h3>
      <a href="https://github.com/wejs/we" target="_blank">Github</a>
    </h3>
    <p>Open source code and issues.</p>
  </div>
  <div class="col-sm-4">
    <a href="https://gitter.im/wejs/we?utm_source=share-link&utm_medium=link&utm_campaign=share-link" target="_blank">
      <img alt="Gitter logo, one red image with lines in white" src="/public/project/images/gitter-128-128.png">
    </a>
    <h3>
      <a href="https://gitter.im/wejs/we?utm_source=share-link&utm_medium=link&utm_campaign=share-link" target="_blank">Gitter</a>
    </h3>
    <p>Real time chat</p>
  </div>
  <div class="col-sm-4">
    <a href="https://groups.google.com/forum/#!forum/we-js" target="_blank">
      <img alt="Google groups logo, one blue image" src="/public/project/images/google_groups-128-128.png">
    </a>
    <h3><a href="https://groups.google.com/forum/#!forum/we-js" target="_blank">Google Groups</a></h3>
    <p>Our email group and newsletter</p>
  </div>
</div>

  </div>
</div>